body {
  margin: 0 auto;
  width: 40%;
  background-color: black;
  color: white;
}

.all{
  width: 750px;

  overflow: scroll;
  background: black;
  border: 1px solid #000;
   /* 가로 스크롤 */
  overflow: auto;
  white-space: nowrap;
}

header {
  z-index: 999;
  position: fixed;
  width: 39.4%;
  top: 0;
  height: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  padding: 0 20px;
}

.user-wrap {
  position: relative;
}

.user-images1 {
  margin: 0 auto;
  /* width: 40%; */
  height: 80vh;
  vertical-align: middle;

  background: linear-gradient(
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.25) 25%,
      rgba(20, 20, 20, 0.5) 50%,
      rgba(20, 20, 20, 0.75) 75%,
      rgba(20, 20, 20, 1) 100%
    ),
    url("../images/9.jpg");
  background-size: cover;
}

/* .user-images1 img {
    width: 100%;
    vertical-align: middle;

} */
.user-menu1 {
  font-size: 25px;
  margin: 5%;
}

.user-menu2 {
  
  margin: 5%;
}

.user-text1 {
  position: relative;
  top: 10%;
  transform: translate(0%, -150%);
}

.user-text1 p {
  color: white;
  text-align: center;
}

.user-text1 b {
  font-size: 25px;
}

.user-images2 img {
  width: 40%;
}

.user-images3 img {
  width: 105%;
}


.article2 {   /* 두번째 사진 */
  text-align: center;
}

.article3 {  /* 세번째 사진 */
  text-align: right;
}

.article4 {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.article4-text {
  position: relative;
  transform: translate(3%, -350%);
  font-size: 2em;
}

.article4-text2 {
  position: relative;
  transform: translate(0%, -120%);
}

.user-wrap4 {
  position: relative;
}

footer {
  background-color: #3a3a3a;
  color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer button {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 6px;
}

.middle-image { 
max-width: 100%;
font-size: 1em;
}